.header {
  font-size: x-large;
  font-weight: 500;
  position: fixed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background: rgb(51, 153, 102);
  background: linear-gradient(
    90deg,
    rgba(51, 153, 102, 1) 0%,
    rgba(70, 190, 130, 1) 30%,
    rgba(51, 153, 102, 1) 67%,
    rgba(70, 190, 130, 1) 100%
  );
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header a {
  margin-left: 2rem;
}

.header a:hover {
  color: #e0faed;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
