@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InkLipquid";
  font-weight: 100;
  src: url("/fonts/SCDream1.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 100;
  src: url("/fonts/SCDream1.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 200;
  src: url("/fonts/SCDream2.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 300;
  src: url("/fonts/SCDream3.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 400;
  src: url("/fonts/SCDream4.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 500;
  src: url("/fonts/SCDream5.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 600;
  src: url("/fonts/SCDream6.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 700;
  src: url("/fonts/SCDream7.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 800;
  src: url("/fonts/SCDream8.otf") format("truetype");
}
@font-face {
  font-family: "InkLipquid";
  font-weight: 900;
  src: url("/fonts/SCDream9.otf") format("truetype");
}

html,
body {
  font-family: InkLipquid, yg-jalnan, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 300;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 100%;
  height: 100%;

  @apply bg-gray-100 dark:bg-gray-900 text-gray-800 font-semibold text-sm lg:text-base;
}

.font-q {
  font-size: 0.675rem;
  line-height: 1.25rem;
}
.footer {
  z-index: 9999;
}

.ml-015 {
  margin-left: 0.15rem;
}
.content {
  height: calc(100% - 8rem);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.text-stroke {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-stroke-green {
  color: #ffffff;
  text-shadow: -1.5px -1.5px 0 #a0bf0d, 1.5px -1.5px 0 #a0bf0d,
    -1.5px 1.5px 0 #a0bf0d, 1.5px 1.5px 0 #a0bf0d;
}

.header-div {
  @apply bg-gradient-to-r from-green-1 text-2xl h-12 fixed top-0 w-full shadow-lg rounded-b flex justify-between;
  z-index: 9999;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

.ball {
  @apply transition-all duration-300;
}
.btn-menu:hover > .ball {
  right: 0.4rem;
  left: 0.4rem;
  @apply rotate-12;
}

.bg-trans {
  background: rgba(255, 255, 255, 0.9);
}

.bg-trans07 {
  background: rgba(255, 255, 255, 0.72);
}

@keyframes hover-scale {
  0% {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
  }
  50% {
    --tw-scale-x: 2.1;
    --tw-scale-y: 2.1;
  }
  100% {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
  }
}

@media (hover: hover) {
  .hover-div:hover {
    @apply scale-110;
  }
}

/* Safari 7.1+ */

_::-webkit-full-page-media,
_:future,
:root .safari_only {
  color: #0000ff;
  background-color: #cccccc;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
