@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 font-semibold text-sm lg:text-base;
}
.content {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
}

.header-div {
  @apply bg-gradient-to-r from-green-1 text-2xl h-12 fixed top-0 w-full shadow-lg rounded-b flex justify-between;
  z-index: 9999;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
